{% extends 'base.html' %} {% load static %} {% block content %}
<div class="card-body">
	<h7 class="card-description">Baraban siyahısı:</h7>
	<div class="table-responsive table-container pt-1">
		<table class="table table-bordered text-center fixed-header-table">
			<thead>
				<tr>
					<th class="bg-light">№</th>
					<th class="bg-light">Ad</th>
					<th class="bg-light">Hündürlük<br />(abşıvakalı),<br />mm</th>
					<th class="bg-light">En,<br />mm</th>
					<th class="bg-light">Diameter,<br />mm</th>
					<th class="bg-light">Boğaz<br />diametri,<br />mm</th>
					<th class="bg-light">Boğaz<br />uzunluğu,<br />mm</th>
					<th class="bg-light">Növ,<br />mm</th>
					<th class="bg-light">Çəki,<br />kq</th>
					<th class="bg-light">Maksimal<br />yükləmə,<br />kq</th>
				</tr>
			</thead>
			<tbody>
				{% for item in reels %}
				<tr>
					<td class="m-0 p-0">{{ forloop.counter }}</td>
					<td class="m-0 p-0">
						<a class="nav-link" href="{{ item.get_absolute_url }}"
							>{{ item.name }}</a
						>
					</td>
					<td class="m-0 p-0">{{ item.height }}</td>
					<td class="m-0 p-0">{{ item.width }}</td>
					<td class="m-0 p-0">{{ item.diameter }}</td>
					<td class="m-0 p-0">{{ item.diameter_neck }}</td>
					<td class="m-0 p-0">{{ item.length_neck }}</td>
					<td class="m-0 p-0">{{ item.reel_type }}</td>
					<td class="m-0 p-0">{{ item.mass }}</td>
					<td class="m-0 p-0">{{ item.max_load }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="d-flex justify-content-end">
		<div class="mt-2">
			<a class="btn btn-primary text-white" href="{% url 'reels_add' %}">+</a>
		</div>
	</div>
</div>
{% endblock %}
