{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card-body">
    <h7 class="card-description">Baraban siyahısı:</h7>
    <div class="table-responsive pt-3">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th class="bg-light">Ad</th>
                <th class="bg-light">Uzunluq,<br/>mm</th>
                <th class="bg-light">En,<br/>mm</th>
                <th class="bg-light">Hündürlük,<br/>mm</th>
                <th class="bg-light">Maksimal<br/>yükləmə,<br/>kq</th>
            </tr>
            </thead>
            <tbody>
            <form method="post">
                {% csrf_token %}
                <tr>
                    {% for field in form %}
                    <td class="m-0 p-0">{{ field }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-end p-2">
        <button type="submit" class="btn btn-primary text-white">Əlavə etmək</button>
    </div>
    </form>

</div>
{% endblock %}
