{% extends 'base.html' %} {% load static %} {% block content %}
<div class="card-body">
	<h7 class="card-description">Nəqliyat siyahısı:</h7>
	<div class="table-responsive pt-3">
		<table class="table table-bordered text-center">
			<thead>
				<tr>
					<th class="bg-light">Ad</th>
					<th class="bg-light">Uzunluq,<br />mm</th>
					<th class="bg-light">En,<br />mm</th>
					<th class="bg-light">Hündürlük,<br />mm</th>
					<th class="bg-light">Maksimal<br />yükləmə,<br />kq</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="m-2 p-2">{{ transport.name }}</td>
					<td class="m-2 p-2">{{ transport.length }}</td>
					<td class="m-2 p-2">{{ transport.width }}</td>
					<td class="m-2 p-2">{{ transport.height }}</td>
					<td class="m-2 p-2">{{ transport.max_load }}</td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex justify-content-end">
			<div class="p-2 bd-highlight">
				<a
					class="btn btn-danger text-white fw-bold"
					href="{% url 'transport_del' pk=object.pk %}"
					>-</a
				>
			</div>
		</div>
	</div>
</div>
{% endblock %}
